.App {
  text-align: center;
}

.CalcContainer {
  margin-top: 50px;
}

.CalcDisplay {
  color:  #044d0e;
  background-color: rgba(255, 17, 0, 0.692);
  height: 70px;
  text-align: center;
  padding: 28px;
  font-size: 40px;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-top: 20px;
}

.CalButton {
  width: 100%;
  height: 50px;
  font-size: 24px;
}

button {
  width: 50%;
  height: 50px;
  font-size: 24px;
}

button:nth-child(4n) {
  grid-column: span 2;
}

button:nth-child(15) {
  grid-column: span 2;
}

body{
  background-color: #00b7ff;
}

button:nth-child(16) {
  grid-column: span 2;
}

.Header {
  margin-top: 20px;
  text-align: center;
  font-size: 69px;
  color: rgba(194, 194, 31, 0.692);
}
